<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Pagina</title>
    <style>
        .bodyframe{
            background: rgba(160, 97, 97, 0.8);}
    </style>
</head>

<body class = "bodyframe">

    <ul> 
        <li> <a href="/">Home</a> </li>
        <li> <a href="/front">Front-end</a></li>
        <li> <a href="/cadastro">Cadastro</a></li>
   </ul>
   <hr>

    <h1>Back-End</h1>
    <% for(i=0; i<dados.length; i++){ %>
        <p>
            <%=dados[i].conteudo %>
        </p>
        <% } %>

  
</html>