<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front End Pagina</title>
    <style>
        .bodyframe{
            background: rgba(161, 224, 12, 0.8);}
    </style>
</head>

<body class="bodyframe" >

    <ul> 
        <li> <a href="/">Home</a> </li>
        <li> <a href="/back">Back-End</a></li>
        <li> <a href="/cadastro">Cadastro</a></li>
   </ul>
   <hr>
   
    <h1>Front-End</h1>
    <% for(i=0; i<dados.length; i++){ %>
        <p>
            <%=dados[i].conteudo %>
        </p>
        <%}%>

 
</body>

</html>