<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Pagina</title>
    <style>
        .bodyframe{
            background: rgba(27, 203, 226, 0.8);}
    </style>
</head>


<body class="bodyframe">

    <ul> 
        <li> <a href="/front">Front-End</a> </li>
        <li> <a href="/back">Back-End</a></li>
        <li> <a href="/cadastro">Cadastro</a></li>
   </ul>

<hr>
    <h1 > <font face="Arial" > Escola de Tecnologia uai! </font> </h1>
   
    <h4 > <font face="cursive" > Seja bem vindo(a)! </font> </h4>
    

</body>

</html>