<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Pagina</title>
</head>

<body bgcolor="# 33ccff">
    <h1 > <font face="Arial" > Escola de Tecnologia uai! </font> </h1>
    <hr>
    <h4 > <font face="cursive" > Seja bem vindo(a)! </font> </h4>
    
    <div> 
         <p> <a href="/front">Front-End</a> </p>
         <p> <a href="/back">Back-End</a></p>
         <p> <a href="/cadastro">Cadastro</a></p>
    </div>
</body>

</html>